* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  box-shadow: 0px 2px 5px #777;
  height: 80px;
}

.nav-link {
  color: black !important;
  font-size: small;
}
.nav-link:hover {
  background-color: #f9c74f;
}
.login-nav {
  margin-left: 430px;
}

.container {
  max-height: 100px;
}

#arq {
  background-color: rgb(143, 136, 119);
  color: aliceblue;
  box-shadow: 0px 2px 5px #777;
}

#textil {
  box-shadow: 0px 2px 5px #777;
}

#charlas {
  text-align: center;
  /* background-color: #f9c74f; */
}

.card-responsive:hover {
  transform: scale(1.1);
}

#nuevo {
  background-color: #f9c74f;
}

/* form {
    margin-top: 10px;
    text-align: center;
    } */

/* #cupo {
    width: 500px;
    justify-content: center;
    } */

/* .mb-3 {
    padding-top: 20px;
    width: 500px;} */

/* .d-grid {
    width: 500px;} */

#submit {
  border-radius: 7px;
  border-color: #0a0a09;
}

#footer {
  height: 150px;
  margin-top: 450px;
}

/* .navbar {
        background: rgba(0, 0, 0, 0.178);
    } */

/* 
https://www.forosdelweb.com/f53/situar-footer-siempre-final-pagina-1055757/ */

p {
  text-shadow: 40px 40px 50px #0005 !important;
}

#titulo-inscripciones {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 10px; /* Espaciado interno de 10px */
  text-align: center; /* Centrar el contenido del div */
  letter-spacing: 0.3cap;
}
#font-titulo{
  color: rgb(150, 69, 55); 
}


/*.btn-info:active{
  margin-right: 1em !important;
  background-color: #89654A!important;
  border-color: #89654A !important;
  color: rgb(32, 25, 0)!important;
}*/

/* Estilos para botones activos (apretados) */
.btn-info.active {
  background-color: rgb(32, 25, 0) !important;
  color: #e4e2cf !important; /* Color de tipografía blando (gris claro) */
  border-color:#775840!important;
}

/* Estilos para botones inactivos (sin ser apretados) */
.btn-info:not(.active) {
  background-color: #89654A!important;
  color: rgb(32, 25, 0) !important;
  border-color:#775840!important;
}

/* Estilos para cuando se presiona el botón */
.btn-info:active {
  /* Puedes ajustar estos estilos según tus preferencias */
  transform: translateY(1px)!important;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1)!important;
}

#subtitulo-talleres{
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  margin-left: 1.25em;
  margin-right: 1.25em;

}

#talleres{
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 2em;
  margin-right: 2em;
}

#adquiri-tickets{
  font-size: 1.50em;
  font-weight: 400;
  letter-spacing: 0.25cap;
}

.button-tickets {
  background-color: #ffc107; /* Color de fondo amarillo */
  border-radius: 6px; /* Bordes redondeados */
  font-size: 1em;
  letter-spacing: 2cap;
  text-decoration: none;
  padding-left: 8em;
  padding-right: 8em;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  color: rgb(32, 25, 0);
}

#subtitulo-recordatorio{
  color:rgb(150, 69, 55);
  font-weight: 700;
  font-size: 0.90em;
  letter-spacing: 0.1cap;
}
.border {
  margin-top: 1.5em;
}


.card-responsive {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.img-container img {
  width: 100%; /* La imagen ocupará el 100% del ancho del contenedor */
  height: auto; /* Se mantendrá la proporción original de la imagen */
}
