*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



/* cards */
.contenedor{
    height: 200px;
    width: 500px;
    
    padding: 5px;
   
    
}



/* valor tickets + cantidad + categorias */
.container{
    height: 100px;
    width: 100%;
    background-color: rgb(fff);
    padding: 5px;
   }

/*nombre + apellido + mail*/
.form{
    height: 250px;
    width: 500px;
    background-color: rgb(fff);
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 250px;
    
}

#nombre{
    width: 100px;
    margin-left: 100px;
}
#correo{
    width: 500px;
}

#resultado{
    width: 600px;
}

#borrar{
    width: 260px;
    background-color: rgb(167, 193, 96);
    color: #fff;
}
#resumen{
    width: 260px;
    background-color: rgb(167, 193, 96);
}

.row{
    padding: 5px;
}

